* { margin: 0em; 
    padding: 0em; 
} body,html {height: 100%;}
main { margin: 0em; 
    background-image: url('/images/deskA.jpg');
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    text-align: center;
} h1,h4,h3 { padding: 0em;
    margin: 0em; 
    color: #ebdcad;
} .space {padding-top: 10%;}
