* {margin: 0px; padding: 0em;}

body, html {
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}

.bg {
  background-image: url("../images/index_bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
} .welcome {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} h1,p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}  h1 {font-size: 40pt;}
   p { padding-top: 2pt;
     font-size: 14pt;
     padding-left: 25%;
     padding-right: 25%;
   }

@media only screen and (max-width: 640px) {
  p {padding-left: 5%;
    padding-right: 5%;
    font-size:32pt;
  } h1 {font-size: 12pt;}
}
