/*--------Global Settings / Controls-----------*/
* {margin: 0px; padding: 0em;}
main {margin: 0% 10%;}
a:link,a:active,a:visited {
    color: inherit;
    text-decoration: underline;
    background-color: transparent;
    transition: 0.3s; /*Links*/
} /*Global settings*/

html {
    background-color: #ffffff;
    color: #6c6c6c; /*Main background and text color*/
} footer,header,code,select,textarea,input,#mobile-menu {
    background-color: #fbfbfb;
    border: 1px solid #dfdfdf; /*Secondary bg, borders*/
} h1,h2,h3,h4,h5,h6,.author,button {color: #4c4c4c;} /*Headers*/
a:hover,.author em {color: #dc3232;}
input:hover, textarea:hover, select:hover {border-color: #cacaca;}
button {
    color: #fff;
    background-color: #dc3232;
} button:hover {background-color: #dc5050;}
.red {color: #cc241d;}
.green {color: #98971a;}
.yellow {color: #d79921;}
.blue {color: #458588;}
.purple {color: #b16286;}
.aqua {color: #689d6a;} /*Color controlers*/

/*--------Header & Footer-----------*/
footer nav a:link,header nav a:link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0em .3em;
} header,footer {text-align: center;} /*H&F Align*/
header {
    top: 0px;
    position: fixed;
    width: 100%;
    padding: .5em 0em; /*main header settings*/
} #logo {
    background: url('../images/m-dark.png');
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    margin: auto;
    transition: .3s;
} #logo:hover {opacity: .8;} /*Logo Settings */
.fa-bars {display:none;}
#mobile-menu {display:none;}
#spacer {margin-top: 150px;}
footer {
    margin-top: 50px;
    padding: 3em 5%; /*main footer settings*/
} footer nav,footer p,footer div {margin: 1em 0em;}
.fab {
    font-size: 20pt;
    padding: 0em .1em; /*font awesome*/
} footer div h4 {text-align: inherit;} /*footer h4*/

/*---------------Typefaces---------------*/
h1,h2,h3,h4,h5,h6,.author,button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: .5em 0em;
}   h1 {font-size: 40pt;}
    h2 {font-size: 34pt;}
    h3 {font-size: 28pt;}
    h4 {font-size: 22pt;}
p, code, input, textarea, select,footer nav:first-child,
header nav:last-child {
    font-family: 'Lato', sans-serif;
    text-align: inherit;
    font-size: 12pt;
    color: inherit;
    line-height: 1.5em;
} blockquote {
    font-family: 'EB Garamond', serif;
    font-size: 24pt;
    margin: 1em 20%;
    font-weight: 400;
} .author {
    font-size: 18pt;
    text-align: right;
    margin: 1em 20%;
} .author em {margin: 0em .3em;}

/*--------------Main Settings--------------*/
code,input,textarea,select {
    margin: 1em auto;
    width: 50%;
    border-radius: 5px;
    padding: .3em 1em;
} code {
    font-family: 'Source Code Pro', monospace;
    display: block;
} input, textarea, select {
    margin: .5em 0em;
    transition: 0.3s;
    overflow: none;
    resize: none;
    text-align: left;
} form {text-align: center;}
button {
    border: 0px;
    border-radius: 5px;
    text-align: center;
    padding: 1em 2.5em;
    font-size: 18px;
    transition: .3s;
} /*Form, button & code block settings*/

/*--------Mobile Site Settings-----------*/
@media only screen and (max-width: 640px) {
    main {margin: 0% 5%;} /*global settings*/
    h1 {font-size: 34pt;}
    h2 {font-size: 28pt;}
    h3 {font-size: 22pt;}
    h4 {font-size: 20pt;} /*Headings*/
    blockquote, .author {
        font-size: 18pt;
        margin: 1em 5%;
    } .author {font-size: 14pt;} /*blockquote styles*/

    code,input,textarea,select {width: 90%;} /*form & code*/

    footer nav a:link,header nav a:link {display:none;}
    #spacer {margin-top: 90px;} /*Footer & header settings*/
    .fa-bars {
        font-size: 18pt;
        position: fixed; 
        display: block; 
        top: 0px; 
        margin: .7em; 
    } #mobile-menu {
        display: none;
        padding: 80px 1em; 
    } #mobile-menu a:link {
        text-decoration: none; 
        text-transform: uppercase; 
    } div#mobile-menu h4 {
        text-align: left; 
        margin: 0em; 
    }
} /*Mobile site settings*/

/*-------Dark Mode Settings------------*/
@media (prefers-color-scheme: dark) {
    html {
        background-color: #000;
        color: #a4a4a4; /*Main background and text color*/
    } footer,header,code,select,textarea,input,#mobile-menu {
        background-color: #131313;
        border: 1px solid #262626; /*Secondary bg, borders*/
    } h1,h2,h3,h4,h5,h6,.author,button {color: #bcbcbc;} /*Headers*/
    input:hover, textarea:hover, select:hover {border-color: #444;}
    #logo {
       background: url('../images/m.png');
       width: 40px;
       height: 40px;
       background-size: 40px 40px;
   } /*Swapping to light logo*/
} /*Subscribe to Pewdiepie*/
