@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;600&display=swap');

:root { /* Base Settings */
  --fg-color: #f9f9f7;
  --fg2-color: #dbdbdb;
  --link-color: #dc3232;
  --link-hover: #dc3232;
  --bg-color: #000;
  --button-color: #111;
  --button-hover: #cc241d;
} /* Defining color scheme */

* { /* Base Settings */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
 } /* Base Settings */
h1,h2,h3,h4,h5,h6 {
    color: var(--fg-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: .5rem;
}
body { 
  text-align: center; 
  padding: 1rem 5rem;
}
.body-left { text-align: left; }
.body-left h4 { 
  margin-top:2rem;
  margin-bottom: 1rem;
}
.body-left p {
  margin-bottom: 1rem;
}
.body-left h1 {text-align:center}
.body-left h5 {text-align:center}
h1 {font-size: 3.5rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2.5rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.5rem;}
h6 {font-size: 1rem;}
.headText { 
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 4rem;
}
p a {
    color: var(--link-color);
    text-decoration: none;
    transition: all .3s;
} p a:hover {color: var(--link-hover);}
p {
    color: var(--fg2-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}
button {
    color: var(--fg2-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--button-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 3px; 
    transition: all .3s;
    margin: 1rem 1rem;
} button:hover {background-color: var(--button-hover);}
button i, button i:hover{ 
  background-color: inherit; 
  transition: all .3s;
}

header { 
  padding: 1.5rem; 
  margin-bottom: 4rem;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
  display: inline-block;
  padding: .3rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 600;
} li a {
  text-decoration: none;
  color: var(--fg-color);
  transition: all .3s;
} li a:hover {color: var(--link-hover);}
.logo {
  background: url(/images/mWhite.svg);
  width: 3rem;
  height: 3rem;
  transition: all .3s;
  margin-left: 3rem;
  margin-right: 3rem;
} .logo:hover {opacity: .8;}

.bars { /* Mobile Navigation */
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 25;
} 
.fa-bars {
  font-size: 2rem;
  color: var(--fg-color);
  opacity: .8;
}
#mobile-links {
  display: none;
  position: fixed;
  text-align: right;
  background-color: var(--bg-color);
  width: 100vw; 
  height: 100vh; 
  z-index: 15;
}
.mobile-links-container {
  margin-top: 7rem; 
  margin-right: 2rem;
}
.mobile {
  font-size: 2rem;
  line-height: 2;
}

footer {
  margin-top: 8rem;
  margin-bottom: 3rem;
} .social a {
  font-size: 1.7rem;
  color: var(--fg-color);
  padding: .1rem;
  transition: all .3s;
  font-weight: 600;
} 
footer a:hover { opacity: 70%; }
.social {margin-bottom: 2rem; }
footer nav a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--fg-color);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5rem;
  transition: all .3s;
} footer nav a:hover {color: var(--link-hover);}
footer nav {margin-bottom: 1rem;}
.social a:hover { opacity: 70%; }

.portfolio {
  height: 20rem;
  cursor: pointer;
  border-radius: 1rem;;
  transition: all .3s;
  padding: .5rem;
} .portfolio:hover { 
  border-radius: 0rem;
  opacity: 80%;
}

.image-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0rem;
}
.image-flex p {
  width: 50%;
  margin: 0rem 3rem;
}
.full-size-image { 
  width: 100%; 
  padding: .5rem;
  border-radius: 1rem;
}
.half-size-image { 
  width: 50%; 
  padding: .5rem;
  border-radius: 1rem;
}
.third-size-image { 
  width: 33%; 
  padding: .5rem;
  border-radius: 1rem;
}
.fourth-size-image { 
  width: 28.5%; 
  padding: .5rem;
  border-radius: 1rem;
} 
.fourth-size-video { 
  width: 32.3%; 
  padding: .5rem;
  border-radius: 1rem;
} 
.codeBlock p { 
  margin: 2rem 4rem; 
  font-family: 'Noto Sans Mono', monospace;
  color: var(--fg-color);
}

.cardContainer { 
  text-align: center; 
  display: inline-block;
  margin-bottom: 3rem;
} 
.card {
  width: 17rem; 
  display: inline-block; 
  margin: 1em .5em; 
  border: 1px solid var(--button-color);
  border-radius: .3rem;
  text-align: center;
} .card h4 { margin: 1rem 0rem; }
.card img {
  width: 100%; 
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
} .card p {padding: .0em .75em;}

.youtube-video-container-anamorphic {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 3rem 0rem;
  border-radius: .3rem;
}
.youtube-video-container-anamorphic::after {
  display: block;
  content: "";
  padding-top: 42.5%;
}
.youtube-video-container-anamorphic iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.youtube-video-container-16 {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 3rem 0rem;
  border-radius: .3rem;
}
.youtube-video-container-16::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.youtube-video-container-16 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.youtube-video-container-2-1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 3rem 0rem;
  border-radius: .3rem;
}
.youtube-video-container-2-1::after {
  display: block;
  content: "";
  padding-top: 50%;
}
.youtube-video-container-2-1 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.contact {
  margin: 1rem;
  text-align: center;
} 
.contact a {
  text-decoration: none;
  color: var(--fg-color);
  transition: all .3s;
} .contact a:hover { color: var(--link-hover); }

/* Light Mode Settings ------------------------------------------------------ */
@media (prefers-color-scheme: light) {
  :root {
    --fg-color: #444;
    --fg2-color: #666;
    --link-color: #8c695f;
    --link-hover: #ba3d28;
    --bg-color: #fff;
    --button-color: #eee;
    --button-hover: #ccc;
  } .logo { background: url(/images/mBlack.svg); }
} /* Flipping colors for light mode */

/* Mobile Settings ---------------------------------------------------------- */
@media only screen and (max-width: 850px) { /* Intermediate downscaling */
  .headText { margin-left: 0; margin-right: 0; }
  .image-flex { display: block; }
  .bars {display: block;}
  .linksA, .linksB {display: none;}
  .image-flex p {
    width: 100%;
    margin: 0rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  } .full-size-image { padding: .2rem; border-radius: .5rem; }
  .half-size-image { 
    padding: .2rem; 
    border-radius: .5rem; 
    width: 100%;
    margin: 2rem 0rem;
  } .third-size-image { padding: .2rem; border-radius: .5rem; width: 100%; }
  .fourth-size-image { padding: .2rem; border-radius: .5rem; width: 40%; }
  .fourth-size-video { 
    padding: .2rem; 
    border-radius: .5rem; 
    width: 100%;
  }
  body iframe { height: 25rem;}
  .contact-container { display: block; }
  header {padding: 0rem;}
  .logo {margin: 0}
} /* Intermediate downscaling cleanup */

@media only screen and (max-width: 640px) { /* Main phone settings */
  footer nav {display: none;}
  body {padding: 1rem 1rem}
  .portfolio { height: auto; width: 100%; } 
  .codeBlock p {margin: 1rem 0rem}
  .card { width: 90%; }
  body iframe { height: 13rem;}
  h1 {font-size: 2.5rem;}
  h2 {font-size: 2rem;}
  h3 {font-size: 2rem;}
  h4 {font-size: 1.5rem;}
}
