---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>MAKC | Essays</title>
    <link>https://makc.co/essays/</link>
    <description>A collection of personal essays on film, technology, philosophy, and art—charting the edges where culture, creativity, and critical thought meet.</description>
    <language>en-us</language>
    <lastBuildDate>{{ collections.essays | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>

    {% for post in collections.essays | reverse %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>https://makc.co{{ post.url }}</link>
        <guid>https://makc.co{{ post.url }}</guid>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <description><![CDATA[{{ post.templateContent | safe }}]]></description>
      </item>
    {% endfor %}
  </channel>
</rss>