---
layout: main.html
title: Videos
---

<h1>{{ title }}</h1>
<h6>My entire catalog of video content. Over a decade of content ranging tech, motion graphics, web design, video essays and much more. Now available on <a href="https://www.youtube.com/@makc" target="_blank">YouTube</a>, <a href="https://inv.nadeko.net/channel/UCWh6YtclgTAzReTASc4uSKw" target="_blank">Invidious</a> or <a href="https://odysee.com/@makc:a" target="_blank">Odysee</a>...</h6>

{% assign categories = "" | split: "" %}
{% for item in airtable %}
  {% unless categories contains item.Type %}
    {% assign categories = categories | push: item.Type %}
  {% endunless %}
{% endfor %}

<div class="filterButtons">
  <button data-filter="all" class="active">All</button>
  {% for cat in categories %}
    <button data-filter="{{ cat }}">{{ cat }}</button>
  {% endfor %}
</div>

<div class=cardContainer>
        {% for item in airtable %}
    <div data-category="{{ item.Type }}" class="video-card">
        <a href="{{ item.yturl }}" target="_blank" title="YouTube">
        <img src="https://i.ytimg.com/vi/{{ item.ytid | strip }}/maxresdefault.jpg" alt="Hero image"/>
        </a>
        <p class="videos">{{ item.Title | truncate: 44, "..." }}</p><br>
    </div>
        {% endfor %}
</div>

<script>
  const buttons = document.querySelectorAll(".filterButtons button");
  const cards = document.querySelectorAll(".video-card");

  buttons.forEach(button => {
    button.addEventListener("click", () => {
      // Remove active from all buttons
      buttons.forEach(btn => btn.classList.remove("active"));
      button.classList.add("active");

      const filter = button.getAttribute("data-filter");

      cards.forEach(card => {
        if(filter === "all" || card.dataset.category === filter) {
          card.style.display = "";
        } else {
          card.style.display = "none";
        }
      });
    });
  });
</script>
