---
layout: main.html 
---

<style>
    p,ol,ul {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
        font-size: 1.3em;
        padding: 1em;
        text-align: justify;
        margin-left: 8em;
        margin-right: 8em;
        color: var(--fg2-color);
    } h1 { margin-top: 1em; }
    header p { 
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
    }
</style>

<img class="hero" src="{{ image }}" alt="" >
<h1>{{ title | default: "Essays" }}</h1>
<h3>{{ date | postDate }}</h3>
<hr></hr>
<div class="essayContainer"> 
{{ content }}
</div> 
<div class="sharethis-inline-share-buttons"></div>
