<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MAKC.CO - {{ title | default: "Essays" }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v3.0.1
/modern-normalize.min.css" rel="stylesheet">
<link rel="stylesheet" href="/bundle.css">
<script src="https://kit.fontawesome.com/eb945b62fb.js" crossorigin="anonymous"></script>
        <link href='images/favicons/favicon.ico' rel='icon' type='image/ico'/>
        <link href='images/favicons/favicon.png' rel='icon' type='image/png'/>
        <link href='images/favicons/apple-touch-icon.png' rel='apple-touch-icon'/>
        <link href='images/favicons/ios-ipad-144x144.png' sizes='144x144' rel='apple-touch-icon-precomposed'/>
        <link href='images/favicons/ios-iphone-114x144.png' sizes='114x114' rel='apple-touch-icon-precomposed'/>
        <link href='images/favicons/ios-default-homescreen-57x57.png' sizes='57x57' rel='apple-touch-icon-precomposed'/>
</head>
<body>
    <header>
        <a href="/index" ><img class="logo" src="/images/m.svg" alt="HOME"></a>
            <a href="/index">Home</a>
            <a href="/videos">Videos</a>
            <a href="/essays">Essays</a>
    </header>
    <main>
        <img class="hero" src="{{ image }}" alt="" >
        <h1>{{ title | default: "Essays" }}</h1>
        {{ content }}
    </main>
    <footer>
        <div class="socialIcons"> 
            <a title="Github" target="_blank" href="https://github.com/makccr"><i class="fa-brands fa-github"></i></a>
            <a title="YouTube" target="_blank" href="https://www.youtube.com/@makc"><i class="fa-brands fa-youtube"></i></a>
            <a title="Odysee" target="_blank" href="https://odysee.com/@makc:a"><i class="fa-brands fa-odysee"></i></a>
            <a title="Unsplash" target="_blank" href="https://unsplash.com/@makccr"><i class="fa-brands fa-unsplash"></i></a>
            <a title="Goodreads" target="_blank" href="https://www.goodreads.com/user/show/188856986-makc-criswell"><i class="fa-brands fa-goodreads-g"></i></a>
            <a title="Reddit" target="_blank" href="https://www.reddit.com/user/mack_criswell/"><i class="fa-brands fa-reddit-alien"></i></a>
        </div><br>
        <p class="footer"><em>A Note:</em> I make a conscious effort to spend as little time on social media type websites as possible. 
        <br>As a result, if you are interested in contacting me, the most efficient way to do so is via <a href="mailto:m@makc.co">e-mail<a/>.<br></p><br>
        <p>&#169; Copyright - 2012-<script>document.write(/\d{4}/.exec(Date())[0])</script>, <i>Makc Criswell</i>.</p>
        <p>All Rights Reserved.</p>
        <p class="footer">i think...</p>
    </footer>
</body>
</html>
