<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MAKC.CO - {{ title | default: "Essays" }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v3.0.1
/modern-normalize.min.css" rel="stylesheet">
<link rel="stylesheet" href="/bundle.css">
</head>
<body>
    <header>
        <img class="hero" src="{{ image }}" alt="" >
        <h1>{{ title | default: "Essays" }}</h1>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
