<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Essays</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v3.0.1
/modern-normalize.min.css" rel="stylesheet">
<link rel="stylesheet" href="/bundle.css">
<style>
img {
  display: block;
  max-width:100%;
  max-height:100;
  width: auto;
  height: auto;
}
</style>
</head>
<body>
    <header>
        <h1>{{ title | default: "Essays" }}</h1>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
