---
layout: main.html 
---

<style>
    p,ol,ul {
        font-family: 'IM Fell English', serif;
        font-weight: 400;
        font-size: 1.1em;
        padding: 1em;
        text-align: left;
        width: 60%;
        align: center; 
        margin: auto; 
        color: var(--fg2-color);
    } h1 { margin-top: 1em; }
    header p { 
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
    }

@media only screen and (max-width: 850px) { 
    p,ol,ul {
        margin-left: .5em; 
        margin-right: .5em;
        width: 90%;
        align: center; 
        margin: auto;
    }
    h1,h2,h3,h4,h5,h6 {
        margin-left: .5em; 
        margin-right: .5em;
    }
}
</style>
    <img class="hero" src="{{ image }}" alt="" >
    <h1>{{ title | default: "Essays" }}</h1>
    <h3>{{ date | postDate }}</h3>
<hr></hr>
<div class="essayContainer"> 
{{ content }}
</div> 
<hr></hr>
{% assign allPosts = collections.essays %}
{% for post in allPosts %}
  {% if post.url == page.url %}
    {% capture currentIndex %}{{ forloop.index0 }}{% endcapture %}
  {% endif %}
{% endfor %}

<div class="post-navigation" style="margin-top: 3em; text-align: center;">
  {% assign prevIndex = currentIndex | minus: 1 %}
  {% assign nextIndex = currentIndex | plus: 1 %}

<div class="rss">
  {% if prevIndex >= 0 %}
    {% assign prevPost = allPosts[prevIndex] %}
    <a href="{{ prevPost.url }}" class="prev-post">
        <button><i class="fa-solid fa-arrow-left"></i>&nbsp; Last Essay</button>
    </a>
  {% endif %}

  <a href="https://makc.co/feed.xml" target="_blank"><button>RSS &nbsp;<i class="fa-solid fa-rss"></i></button></a>

  {% if nextIndex < allPosts.size %}
    {% assign nextPost = allPosts[nextIndex] %}
    <a href="{{ nextPost.url }}" class="next-post">
        <button>Next Essay &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
    </a>
  {% endif %}
</div>
<hr></hr>

<iframe class="substack" src="https://makccr.substack.com/embed" frameborder="0" scrolling="no"></iframe>
